RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://chronicles.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chronicles.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chronicles.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chronicles.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lunaire.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lunaire.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portfolio.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portfolio.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portfolio.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portfolio.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wolfblossom.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wolfblossom.mysticallegends.us$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

