RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://album.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://album.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://animefreaks.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://animefreaks.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://charmbox.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://charmbox.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elemental.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elemental.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illusions.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illusions.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portfolio.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rabellu.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rabellu.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://soleil.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://soleil.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.album.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.album.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animefreaks.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animefreaks.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.charmbox.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.charmbox.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elemental.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elemental.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illusions.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illusions.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lunaire.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lunaire.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rabellu.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rabellu.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.soleil.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.soleil.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wolfblossom.mysticallegends.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wolfblossom.mysticallegends.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|flv)$ - [F,NC]

RewriteCond %{HTTP_HOST} ^wolfblossom\.mysticallegends\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wolfblossom\.mysticallegends\.com$
RewriteRule ^/?$ "http\:\/\/wolfblossom\.mysticallegends\.us" [R=301,L]

