RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kristinalhall.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smcrossover.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lunaire.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wolfblossom.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kristinalhall.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smcrossover.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.us/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mysticallegends.us$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csszengarden.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://csszengarden.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csszengarden.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.csszengarden.com$      [NC]
RewriteRule .*\.(jpg|gif|png|bmp|flv|mp4|webm|ogv|mp3|ogg)$ - [F,NC]
